{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href={% static.css/'nandu.css'%}>
</head>
<body>
<h2>GRID</h2>
<p>A Grid Layout must have a parent element with the
<em>display</em>property set to <em>grid</em>or<em>inlinegrid</em>
</p>Direct child elements(s)of the grid container automatically becomes grid items.</p>
<div class="container">
<div>1</div>
<div>2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>
<div>7</div>
<div>8</div>
</div>
<img src="{% static.img/'college.jpg'%}" width=100px  height=50px>
</body>
</html>